* {

    font-family:monospace;
    color: white;

}

#home{
    background-color:rgb(151, 230, 235)
}

#header{
    /* Compact padding: top/bottom left/right */
    padding: 10px 20px; 
    
    /* Squeezes container around contents & centers it horizontally */
    margin: 20px auto;
    
    /* Aligns text and image side-by-side cleanly */
    display: flex;
    align-items: center;
    gap: 15px;

    border-radius: 20px;
    background-color:rgb(111, 181, 198)
}

#page1{
    background-color: rgb(30, 26, 31);
}

#p1_header{
        /* Compact padding: top/bottom left/right */
    padding: 10px 20px; 
    
    /* Squeezes container around contents & centers it horizontally */
    margin: 20px auto;
    
    /* Aligns text and image side-by-side cleanly */
    display: flex;
    align-items: center;
    gap: 15px;

    border-radius: 20px;
    background-color: rgb(63, 55, 66);
}

#s_album_fax{
    background-color: rgb(209, 55, 155);

    /* Compact padding: top/bottom left/right */
    padding: 10px 20px; 
    
    /* Squeezes container around contents & centers it horizontally */
    margin: 20px auto;
    
    /* Aligns text and image side-by-side cleanly */
    display: flex;
    align-items: center;
    gap: 15px;

    border-radius: 20px;
    
}

#s_favs{
    background-color: rgb(156, 135, 149);

    /* Compact padding: top/bottom left/right */
    padding: 10px 20px; 
    
    /* Squeezes container around contents & centers it horizontally */
    margin: 20px auto;

    /* Aligns text and image side-by-side cleanly */
    display: flex;
    align-items: center;
    gap: 15px;

    border-radius: 20px;
}

#s_lines{
    background-color: rgb(209, 55, 155);

    /* Compact padding: top/bottom left/right */
    padding: 10px 20px; 
    
    /* Squeezes container around contents & centers it horizontally */
    margin: 20px auto;

    /* Aligns text and image side-by-side cleanly */
    display: flex;
    align-items: center;
    gap: 15px;
    
    border-radius: 20px;
}

#page2{
    background-color: rgb(193, 190, 190);
}

#p2_header{
        /* Compact padding: top/bottom left/right */
    padding: 10px 20px; 
    
    /* Squeezes container around contents & centers it horizontally */
    margin: 20px auto;
    
    /* Aligns text and image side-by-side cleanly */
    display: flex;
    align-items: center;
    gap: 15px;

    border-radius: 20px;
    background-color: rgb(139, 139, 139);
}

#k_album_fax{
    background-color: rgb(21, 35, 129);

    /* Compact padding: top/bottom left/right */
    padding: 10px 20px; 
    
    /* Squeezes container around contents & centers it horizontally */
    margin: 20px auto;
    
    /* Aligns text and image side-by-side cleanly */
    display: flex;
    align-items: center;
    gap: 15px;

    border-radius: 20px;
    
}

#k_favs{
    background-color: rgb(180, 23, 23);

    /* Compact padding: top/bottom left/right */
    padding: 10px 20px; 
    
    /* Squeezes container around contents & centers it horizontally */
    margin: 20px auto;
 
    /* Aligns text and image side-by-side cleanly */
    display: flex;
    align-items: center;
    gap: 15px;

    border-radius: 20px;
}

#k_lines{
    background-color: rgb(21, 35, 129);

    /* Compact padding: top/bottom left/right */
    padding: 10px 20px; 
    
    /* Squeezes container around contents & centers it horizontally */
    margin: 20px auto;

    /* Aligns text and image side-by-side cleanly */
    display: flex;
    align-items: center;
    gap: 15px;
    
    border-radius: 20px;
}

#page3{
    background-color: rgb(128, 8, 8);
}

#p3_header{
        /* Compact padding: top/bottom left/right */
    padding: 10px 20px; 
    
    /* Squeezes container around contents & centers it horizontally */
    margin: 20px auto;
    
    /* Aligns text and image side-by-side cleanly */
    display: flex;
    align-items: center;
    gap: 15px;

    border-radius: 20px;
    background-color: rgb(156, 47, 47);
}

#h_album_fax{
    background-color: rgb(0, 0, 0);

    /* Compact padding: top/bottom left/right */
    padding: 10px 20px; 
    
    /* Squeezes container around contents & centers it horizontally */
    margin: 20px auto;
    
    /* Aligns text and image side-by-side cleanly */
    display: flex;
    align-items: center;
    gap: 15px;

    border-radius: 20px;
    
}

#h_favs{
    background-color: rgb(67, 31, 5);

    /* Compact padding: top/bottom left/right */
    padding: 10px 20px; 
    
    /* Squeezes container around contents & centers it horizontally */
    margin: 20px auto;
  
    /* Aligns text and image side-by-side cleanly */
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 20px;
}

#h_lines{
    background-color:black;

    /* Compact padding: top/bottom left/right */
    padding: 10px 20px; 
    
    /* Squeezes container around contents & centers it horizontally */
    margin: 20px auto;

    /* Aligns text and image side-by-side cleanly */
    display: flex;
    align-items: center;
    gap: 15px;
    
    border-radius: 20px;
}


#page4{
    background-color: rgb(224, 78, 141);
}



#p4_header{
        /* Compact padding: top/bottom left/right */
    padding: 10px 20px; 
    
    /* Squeezes container around contents & centers it horizontally */
    margin: 20px auto;
    
    /* Aligns text and image side-by-side cleanly */
    display: flex;
    align-items: center;
    gap: 15px;

    border-radius: 20px;
    background-color: rgb(218, 122, 164);
}

#m_album_fax{
    background-color: rgb(176, 122, 78);

    /* Compact padding: top/bottom left/right */
    padding: 10px 20px; 
    
    /* Squeezes container around contents & centers it horizontally */
    margin: 20px auto;
    
    /* Aligns text and image side-by-side cleanly */
    display: flex;
    align-items: center;
    gap: 15px;

    border-radius: 20px;
    
}

#m_favs{
    background-color: rgb(152, 73, 73);

    /* Compact padding: top/bottom left/right */
    padding: 10px 20px; 
    
    /* Squeezes container around contents & centers it horizontally */
    margin: 20px auto;

    /* Aligns text and image side-by-side cleanly */
    display: flex;
    align-items: center;
    gap: 15px;

    border-radius: 20px;
}

#m_lines{
    background-color:  rgb(176, 122, 78);

    /* Compact padding: top/bottom left/right */
    padding: 10px 20px; 
    
    /* Squeezes container around contents & centers it horizontally */
    margin: 20px auto;

    /* Aligns text and image side-by-side cleanly */
    display: flex;
    align-items: center;
    gap: 15px;
    
    border-radius: 20px;
}

#page5{
    background-color: rgb(225, 192, 160);
}

#p5_header{
     /* Compact padding: top/bottom left/right */
    padding: 10px 20px; 
    
    /* Squeezes container around contents & centers it horizontally */
    margin: 20px auto;
    
    /* Aligns text and image side-by-side cleanly */
    display: flex;
    align-items: center;
    gap: 15px;

    border-radius: 20px;
    background-color: rgb(193, 161, 121);
}

#g_album_fax{
    background-color: rgb(171, 57, 57);

    /* Compact padding: top/bottom left/right */
    padding: 10px 20px; 
    
    /* Squeezes container around contents & centers it horizontally */
    margin: 20px auto;
    
    /* Aligns text and image side-by-side cleanly */
    display: flex;
    align-items: center;
    gap: 15px;

    border-radius: 20px;
    
}

#g_favs{
    background-color: rgb(55, 58, 139);

    /* Compact padding: top/bottom left/right */
    padding: 10px 20px; 
    
    /* Squeezes container around contents & centers it horizontally */
    margin: 20px auto;

    /* Aligns text and image side-by-side cleanly */
    display: flex;
    align-items: center;
    gap: 15px;

    border-radius: 20px;
}

#g_lines{
    background-color:  rgb(171, 57, 57);

    /* Compact padding: top/bottom left/right */
    padding: 10px 20px; 
    
    /* Squeezes container around contents & centers it horizontally */
    margin: 20px auto;

    /* Aligns text and image side-by-side cleanly */
    display: flex;
    align-items: center;
    gap: 15px;
    
    border-radius: 20px;
}


#page6{
    background-color: rgb(58, 76, 118);
}

#p6_header{
     /* Compact padding: top/bottom left/right */
    padding: 10px 20px; 
    
    /* Squeezes container around contents & centers it horizontally */
    margin: 20px auto;
    
    /* Aligns text and image side-by-side cleanly */
    display: flex;
    align-items: center;
    gap: 15px;

    border-radius: 20px;
    background-color: rgb(80, 100, 160);
}

#w_album_fax{
    background-color: rgb(171, 57, 57);

    /* Compact padding: top/bottom left/right */
    padding: 10px 20px; 
    
    /* Squeezes container around contents & centers it horizontally */
    margin: 20px auto;
    
    /* Aligns text and image side-by-side cleanly */
    display: flex;
    align-items: center;
    gap: 15px;

    border-radius: 20px;
    
}

#w_favs{
    background-color: rgb(55, 58, 139);

    /* Compact padding: top/bottom left/right */
    padding: 10px 20px; 
    
    /* Squeezes container around contents & centers it horizontally */
    margin: 20px auto;

    /* Aligns text and image side-by-side cleanly */
    display: flex;
    align-items: center;
    gap: 15px;

    border-radius: 20px;
}

#w_lines{
    background-color:  rgb(171, 57, 57);

    /* Compact padding: top/bottom left/right */
    padding: 10px 20px; 
    
    /* Squeezes container around contents & centers it horizontally */
    margin: 20px auto;

    /* Aligns text and image side-by-side cleanly */
    display: flex;
    align-items: center;
    gap: 15px;
    
    border-radius: 20px;
}

#webring{
    background-color:  rgb(216, 187, 129);

    /* Compact padding: top/bottom left/right */
    padding: 10px 20px; 
    
    /* Squeezes container around contents & centers it horizontally */
    margin: 20px auto;
    
    display: flex;
    align-items: center;
    gap: 15px;

    border-radius: 20px;

}